<div class="cursor-pointer rounded-lg max-w-sm p-3 border-2" {{action "toggle"}}>
  {{label}}
</div>

<!-- <button type="button" name="button" {{action "startRecording"}}>Start Record</button>

<button type="button" name="button" {{action "stopRecording"}}>Stop Record</button> -->
